APP_URL=https://101studio.co/
GOOGLE_EMAIL=test_user@101digital.io
GOOGLE_PASSWORD=123456
EMAIL_SENDER=notification@101digital.io
GMAIL_CREDENTIALS_PATH=secrets/credentials.json
GMAIL_TOKEN_PATH=secrets/token.json
